.main-container {
  position: relative;
}

.container p::before {
  content: "Before Element ";
  color: rgb(255, 0, 0);
}

.container p::after {
  content: " After Element";
  color: rgb(255, 0, 0);
}
